KEY=VALUE
RAMEN=ラーメン大好き
EMOJI=🦄
QUOTED="Play it again, Sam"
MULTILINE="Lo! Death has reared himself a throne\nIn a strange city lying alone\nFar down within the dim West,\nWhere the good and the bad and the worst and the best\nHave gone to their eternal rest."
